font-family: 'Source Sans 3', sans-serif;

*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif;
}

.bild-buzios{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20%;
  background-image: url(images/brazil-natur.jpg);
 
}

